:root{
    --bg-primary: #1c1c1c;
    --bg-secundary: #0482F9;
    --usually-white: #FFFFFF;
    --usually-black: #000000;
}

main{
    background-color: var(--bg-primary);
    color: var(--usually-white);
}

.infos{
    background-color: var(--bg-secundary);

    a{
        font-size: 0.6rem;
        text-decoration: none;
        color: var(--usually-white);

        &:hover{
            text-decoration: underline;
            transition: 0.2s;
            margin-left: 5px;
        }
    }
    
    img{
        height: 50px;
    }
}