:root{
    --usually-white: #FFFFFF;
}

.comicImg{
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: 0 0;
}

ul{
    list-style: none;

    p{
        font-size: 0.7rem;
    }
}

.card-cont:hover{
    cursor: pointer;
    margin-top: -15px;
    
    .comicImg{
        transition: 0.2s;
        height: 130px;
        width: 130px;
    }
}

.card-cont-alt:hover{
    cursor: pointer;
    margin-bottom: 15px;
    
    .comicImg{
        transition: 0.2s;
        height: 130px;
        width: 130px;
    }
}