    :root{
    --bg-primary: #303030;
    --usually-white: #FFFFFF;
    --usually-black: #000000;
    --secundary: #8D8D8D;
    --accent:#0582F9;
}

    .links{
        background-image: url('../../../public/footer-bg.jpg');
        background-repeat: repeat-x;
        background-position: center;
        background-size: contain;
        position: relative;
        
        .list{
            list-style: none;
            
            li{
                color: var(--secundary);
                
                h4{
                    margin: 20px auto;
                    color: var(--usually-white);
                    font-size: 1.2rem;
                }
                
                a{
                    font-size: 0.8rem;
                    cursor: pointer;
                    
                    &:hover{
                        color: var(--usually-white);
                    }
                }
                
            }
        }
        
        .logo{
            position: absolute;
            height: 600px;
        }
    }