:root{
    --bg-primary: #1c1c1c;
    --bg-secundary: #0482F9;
    --usually-white: #FFFFFF;
}

.bg{
    background-color: var(--bg-primary);
}

.jumbotron{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0 0;
}

.currentSeries{
    margin-top: -16px;

    h5{
        font-weight: 700;
        background-color: var(--bg-secundary);
        padding: 5px 20px;
    }
}

.loadDiv{
    background-color: var(--bg-primary);
    padding: 15px;

    .load{
        background-color: var(--bg-secundary);
        color: var(--usually-white);
        padding: 5px 50px;
        font-size: 0.8rem;
        font-weight: 700;
        border: 2px solid transparent;

        &:hover{
            cursor: pointer;
            transition: 0.15s;
            border: 2px solid var(--usually-white);
        }

        &:active{
            color: var(--bg-secundary);
            background-color: var(--usually-white);
        }
    }
}